body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("Images/table.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; 
}


header {
color: rgb(255, 217, 0);
font-size:80px;
text-shadow: rgb(0, 0, 0);
border: solid;
border-color: darkgoldenrod;
border-radius: 10px;
padding-top: 10px;
background-image: url("Images/chicken.jpg");
opacity: 70%;
background-position: cover;
text-align: right;
}



nav {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
  width: auto;
  background-color: bisque;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: auto;
  position: fixed;
  overflow: auto;
  font-weight: bold;
  font-style: italic;
  border: solid;
  border-color: darkgoldenrod;
  border-radius: 10px;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  
  text-decoration: none;  
}

li a:hover {
  background-color: burlywood;
  color: white;
}

main {
 margin-left: 260px;
  border: solid;
  border-color: darkgoldenrod;
  border-radius;: 10px;
  margin-top: 100px;  
}

#result {
  color: rgb(248, 191, 3);
  font-size: 130px;
}
}

